@use 'bootstrap';

@import 'package.scss';

@import 'welcome.scss';

body, html {
    height: 100%;
}

header {
    background-color: black;
    color: white;
    font-weight: bold;

    a, a.nav-link {
        color: white;
    }
}

footer {
    color: white;
    background-color: black;
}