.main_package {
    background-color: white;
    min-height: 100%;

    .my_jumbo {
        width: 100%;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .main {
        button {
            background-color: black;
            color: white;
            font-weight: bold;
        }

    }
}